@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter bg-[#f2f2f2] text-[#333] antialiased;
  }

  h1, h2, h3 {
    @apply font-playfair;
  }
}
